/*
Theta Chi Bootstrap Theme
Description: A customized Bootstrap Theme for Theta Chi made by Miraj Patel.
Author: Miraj Patel
Author URI: http://madebymiraj.com
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Version: 1.0.0
*/

/* Import Fonts */
@import 'https://fonts.googleapis.com/css?family=Karla|Merriweather';
/* General */
::-moz-selection
{
    background: #f39ba2;
}
::selection
{
    background: #f5b5ba;
}

.mark, mark{
    background: #f2dede;
    color: #88111b;
}
body
{
    font-family: Karla, sans-serif;
    font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: Merriweather, serif;
}
a,
a:hover,
a:focus
{
    color: #cc202e;
}
/* Navigation */
.navbar
{
    height: 85px;
    margin-bottom: 0;
    padding: 20px 0;

    border-radius: 0;
}
.navbar-brand
{
    margin: -13px;
    padding: 0 15px;
}
.navbar-brand > img
{
    width: auto;
    height: 65px;
    padding-left: 15px;
}
.navbar-nav li a
{
    font-size: 15px;

    margin-right: 25px;
    padding: 8px 5px;

    text-transform: uppercase;
}
.navbar-nav > li > .dropdown-menu
{
    margin-top: 28px;

    border-top: none;
}
.dropdown-menu > li > a
{
    margin-right: 0;
    padding: 8px 15px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
    color: #d23146;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
{
    color: #d23146;
    background: transparent;
}
.navbar-default .navbar-nav > .active > a:hover
{
    color: #d23146;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:hover
{
    margin-top: -2px;

    border-bottom: 2px solid #d23146;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover
{
    color: #d23146;
    background: transparent;
}
.navbar-inverse
{
    border-color: #1b1b1b;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #000;
}
.navbar-inverse .navbar-nav > li > a
{
    color: #fff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > li > a:hover
{
    margin-top: -2px;

    border-bottom: 2px solid #d23146;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover
{
    margin-top: 0;

    border: none;
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color: #cc202e;
}
@media (max-width: 767px)
{
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form
    {
        margin-top: 13px;
        position: relative;
        border-color: #e7e7e7;
        background: #f8f8f8;
        z-index: 10000;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > li > a:hover
    {
        margin-top: 0;

        border: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu
    {
        background: #fcfcfc;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a
    {
        color: #fff;
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form
    {
        margin-top: 13px;

        border-color: #2b2b2b;
        background: #1b1b1b;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu
    {
        background: #2b2b2b;
    }
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > li > a:hover
    {
        margin-top: 0;

        border: none;
    }
}
/* Jumbotron */
.jumbotron
{
    padding: 150px 60px;

    border-radius: 0 !important;
}
.jumbotron-bg
{
    padding: 0 !important;

    background: url(../img/chapter.jpg) no-repeat center center;
    background-size: cover;
}
.jumbotron .overlay
{
    padding: 150px 60px;

    color: #fff;
    background: rgba(0,0,0,.5);
}

/* Divider Img */
.divider-img{
    background: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 450px;
    width: 100%;
    margin-bottom: 30px;
}

/* Page Title */
.page-title{
    background: #88111b;
    padding: 15px 30px;
    color: #FFF;
}

/* Buttons */
.btn
{
    text-transform: uppercase;

    border-radius: 0;
}
.btn-primary
{
    color: #fff;
    border-color: #a71b26;
    background-color: #cc202e;
}
.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover
{
    color: #fff;
    border-color: #cc202e;
    background-color: #e22837;
}
.btn-secondary
{
    color: #fff;
    border-color: #9c794e;
    background-color: #bd935f;
}
.btn-secondary:hover,
.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary.active,
.btn-secondary:active,
.open > .dropdown-toggle.btn-secondary,
.btn-secondary.active.focus,
.btn-secondary.active:focus,
.btn-secondary.active:hover,
.btn-secondary:active.focus,
.btn-secondary:active:focus,
.btn-secondary:active:hover,
.open > .dropdown-toggle.btn-secondary.focus,
.open > .dropdown-toggle.btn-secondary:focus,
.open > .dropdown-toggle.btn-secondary:hover
{
    color: #fff;
    border-color: #bd935f;
    background-color: #9c794e;
}
.btn-info
{
    color: #cc202e;
    border-color: #cc202e;
    background-color: transparent;
}
.btn-info:hover,
.btn-info.focus,
.btn-info:focus,
.btn-info.active,
.btn-info:active,
.open > .dropdown-toggle.btn-info,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover
{
    color: #fff;
    border-color: #cc202e;
    background-color: #cc202e;
}
.btn-dark
{
    color: #fff;
    border-color: #1b1b1b;
    background-color: #000;
}
.btn-dark:hover,
.btn-dark.focus,
.btn-dark:focus,
.btn-dark.active,
.btn-dark:active,
.open > .dropdown-toggle.btn-dark,
.btn-dark.active.focus,
.btn-dark.active:focus,
.btn-dark.active:hover,
.btn-dark:active.focus,
.btn-dark:active:focus,
.btn-dark:active:hover,
.open > .dropdown-toggle.btn-dark.focus,
.open > .dropdown-toggle.btn-dark:focus,
.open > .dropdown-toggle.btn-dark:hover
{
    color: #fff;
    border-color: #000;
    background-color: #1b1b1b;
}
.btn-link,
.btn-link:focus,
.btn-link:hover
{
    color: #cc202e;
}
/* Pills & Pagination */
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover
{
    background-color: #cc202e;
}
.pagination > li > a,
.pagination > li > span
{
    color: #cc202e;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover
{
    z-index: 3;

    cursor: default;

    color: #fff;
    border-color: #cc202e;
    background-color: #cc202e;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    z-index: 2;

    color: #cc202e;
    border-color: #ddd;
    background-color: #eee;
}

/* Cards */
.card{
    margin-top: 30px;
}
.card-image{
    background: #2b2b2b;
    background-size: cover;
    height: 200px;
    width: 100%;
}
.card-content{
    padding: 15px;
    border: 1px solid #EDEDED;
}
.card-content h3{
    padding: 0px;
    margin: 0px;
}
.card-content .text-muted{
    text-transform: uppercase;
}
.card-content ul{
    margin-top: 20px;
    padding: 0px;
    list-style: none;
}
.profile li{
    border-top: 1px solid #f5f5f5;
    padding: 5px 5px;
}
.profile li:nth-child(odd) { 
    background: #f5f5f5; 
}

.card-cta ul{
    margin: 0px;
    text-align: center
}
.card-cta li{
    display: inline-block;
    font-size: 18px;
    margin-right: 30px;
    border: none;
    background: #FFFFFF;
}
.event-card{
    margin-top: 30px;
    box-shadow: 0px 1px 2px #EDEDED;
}
.event-image{
    background: #2b2b2b;
    background-size: cover;
    height: 363px;
    width: 100%;
}
.event-content{
    padding: 15px;
    border: 1px solid #CDCDCD;
    position: relative;
}
.event-content .details{
    position: absolute;
    left: 40px;
}
.event-content a{
    margin-left: 15px;
}

/* Labels & Badges */
.label-primary
{
    background-color: #cc202e;
}
.label-secondary
{
    background-color: #bd935f;
}
.label-info
{
    color: #cc202e;
    border: 1px solid #cc202e;
    background-color: #fff;
}
.label-dark
{
    background-color: #000;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge
{
    color: #fff;
    background-color: #000;
}
/* Progress bars */
.progress-bar
{
    background-color: #cc202e;
}
.progress-bar-secondary
{
    background-color: #bd935f;
}
.progress-bar-info
{
    background-color: #999;
}
.progress-bar-darkvent
{
    background-color: #000;
}
/* List Groups & Panels */
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover
{
    z-index: 2;

    color: #fff;
    border-color: #cc202e;
    background-color: #cc202e;
}
.panel-primary
{
    border-color: #cc202e;
}
.panel-primary > .panel-heading
{
    color: #fff;
    border-color: #cc202e;
    background-color: #cc202e;
}
.panel-secondary
{
    border-color: #bd935f;
}
.panel-secondary > .panel-heading
{
    color: #fff;
    border-color: #bd935f;
    background-color: #bd935f;
}
.panel-info
{
    border-color: #999;
}
.panel-info > .panel-heading
{
    color: #fff;
    border-color: #999;
    background-color: #999;
}
.panel-dark
{
    border-color: #bd935f;
}
.panel-dark > .panel-heading
{
    color: #fff;
    border-color: #000;
    background-color: #000;
}
/* For Demo */
.feature img
{
    margin: 0 auto;
    padding: 50px 0;
}
.feature
{
    padding-bottom: 75px;
}
.footer
{
    padding-top: 60px;
    padding-bottom: 30px;
    margin-top: 30px;
    border-top: 1px solid #cdcdcd;
    background: #f2f2f2;
}
.footer h2
{
    font-size: 4em;
    font-weight: bold;

    margin: 0;
    margin-left: 25px;
    padding: 20px 5px;

    color: #a0a0a0;
    border-top: 5px solid #a0a0a0;
    border-bottom: 5px solid #a0a0a0;
}
.footer h4
{
    font-weight: bold;

    margin: 0;
    padding-bottom: 5px;
}
.footer ul
{
    margin-bottom: 20px;
    padding-left: 0;

    list-style: none;
}
.footer ul.social li
{
    display: inline;

    margin-right: 10px;
}
